
{{#if subitems}}
<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
{{else}}
<a class="tab-header">
{{/if}}
	<i class="fa fa-fw {{icon}}"></i> {{name}}
</a>

{{#if subitems}}
<ul class="dropdown-menu" role="menu">
	{{#each subitems}}
    	<li>
    		<a href="javascript:void(0);" onclick="require(['communicator'], function(Communicator){Communicator.mediator.trigger('{{this.eventToRaise}}', '{{this.template}}');});">{{this.name}}</a>
    	</li>
 	{{/each}}
</ul>
{{/if}}

