{{#if subitems}}
<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
{{else}}
<a class="tab-header">
{{/if}}
  <i class="fa fa-fw {{icon}}"></i> {{name}}
</a>

{{#if subitems}}
<ul class="dropdown-menu" role="menu">
  {{#each subitems}}
  <li{{#if this._class}} class="{{this._class}}"{{/if}}>
      {{#unless this._empty}}
      {{#if this.url}}
      <a href="{{this.url}}"{{#if this.target}} target="{{this.target}}"{{/if}}>{{this.name}}</a>
      {{else}}
        {{#if this.modalId}}
          <a href="javascript:void(0);" onclick="$('#{{this.modalId}}').modal('show');">{{this.name}}</a>
        {{else}}
          <a href="javascript:void(0);" onclick="require(['communicator'], function(Communicator){Communicator.mediator.trigger('{{this.eventToRaise}}', '{{this.template}}');});">{{this.name}}</a>
        {{/if}}
      {{/if}}
      {{/unless}}
    </li>
  {{/each}}
</ul>
{{/if}}
